nav ul li{
            margin: 10px;
            display: inline-block; 
        }
header{
    background-color: aquamarine;

}


nav ul{
    display: flex;
}
nav ul {
    list-style: none;

}
nav li a{
    text-decoration: none;
    color: black;
    
}

nav li:hover{
    background-color: lightgrey;
    border-radius: 5px;
}